@(userForm: Form[controllers.c4.UserData])(implicit messages: Messages)

<h1>4.1.Handling form submission</h1>

<style>
    .error {
        color: red;
    }
    .info {
        color: blue;
    }
</style>

@if(userForm.hasGlobalErrors) {
    <h2>Errors:</h2>
    <ul>
    @for(error <- userForm.globalErrors){
        <li class="error">@error.key : @error.message @error.args.mkString(",")</li>
    }
    </ul>
}

<h2>ad-hoc constraints</h2>
@import controllers.c4.routes
@import helper._
@form(action = routes.S1ScalaForms.a1(2), 'target -> "_blank") {
    @inputText(userForm("name"))
    @inputText(userForm("age"), '_label -> "Date:", '_help -> "")
    <input type="submit" id="submit" value="@routes.S1ScalaForms.a1(2),bob'age must be bigger than 17">
}

<h2>helper constraints</h2>
<form action="@routes.S1ScalaForms.a1(2)" method="post" target="_blank">
    <input id="name" name="name" value="@{userForm.value.map{_.name}}" type="text">
    <input id="age" name="age" value="10E" type="text"> <br/>
    <input type="submit" id="submit" value="@routes.S1ScalaForms.a1(2),age is error">
</form>


<h2>Validating a form in an Action 1</h2>
<form action="@routes.S1ScalaForms.a2" method="post" target="_blank">
    <input id="name" name="name" value="@{userForm.value.map{_.name}}" type="text">
    <input id="age" name="age" value="@{userForm.value.map{_.age}}" type="text"> <br/>
    <input type="submit" id="submit" value="@routes.S1ScalaForms.a2">
</form>

<h2>Validating a form in an Action 2</h2>
<form action="@routes.S1ScalaForms.a3" method="post" target="_blank">
    <input id="name" name="name" value="@{userForm.value.map{_.name}}" type="text">
    <input id="age" name="age" value="" type="text"> <br/>
    <input type="submit" id="submit" value="@routes.S1ScalaForms.a3">
</form>
