@(userFormRepeated: Form[controllers.c4.UserListData])(implicit messages: Messages)

<h1>4.1.Handling form submission</h1>

<style>
    .error {
        color: red;
    }
    .info {
        color: blue;
    }
</style>

@if(userFormRepeated.hasGlobalErrors) {
    <h2>Errors:</h2>
    <ul>
    @for(error <- userFormRepeated.globalErrors){
        <li class="error">@error.key : @error.message @error.args.mkString(",")</li>
    }
    </ul>
}

@import controllers.c4.routes
@import helper._
@form(action = routes.S1ScalaForms.a5, 'target -> "_blank") {
    @helper.inputText(userFormRepeated("name"))
    @helper.repeat(userFormRepeated("emails"), min = 5) { emailField =>
        @helper.inputText(emailField)
    }
    <input type="submit" id="submit" value="@routes.S1ScalaForms.a5">
}
