<h1>1.5.Body parsers</h1>

<form action="/c1/1-5-a1" method="post" enctype="text/plain" target="_blank">
    <input type="hidden" name="text" value="www.moilioncircle.com" />
    <input type="submit" value="/c1/1-5-a1"/>
</form>

<form action="/c1/1-5-a2" method="post" enctype="text/plain" target="_blank">
    <input type="hidden" name="text" value="www.moilioncircle.com" />
    <input type="submit" value="/c1/1-5-a2"/>
</form>

<form action="/c1/1-5-a3" method="post" enctype="text/plain" target="_blank">
    <input type="hidden" name="text" value="www.moilioncircle.com" />
    <input type="submit" value="/c1/1-5-a3"/>
</form>

<form action="/c1/1-5-a4" method="post" enctype="text/plain" target="_blank">
    <input type="hidden" name="text" value="www.moilioncircle.com" />
    <input type="submit" value="/c1/1-5-a4"/>
</form>

<form action="/c1/1-5-a5" method="post" enctype="text/plain" target="_blank">
    <input type="hidden" name="text" value="www.moilioncircle.com" />
    <input type="submit" value="/c1/1-5-a5"/>
</form>

<form action="/c1/1-5-a6" method="post" enctype="text/plain" target="_blank">
    <input type="hidden" name="1" value="3456789" />
    <input type="submit" value="/c1/1-5-a6"/>
</form>

<form action="/c1/1-5-a6" method="post" enctype="text/plain" target="_blank">
    <input type="hidden" name="text" value="www.moilioncircle.com" />
    <input type="submit" value="/c1/1-5-a6 over"/>
</form>

<form action="/c1/1-5-a7" method="post" enctype="text/plain" target="_blank">
    <input type="hidden" name="1" value="3456789" />
    <input type="submit" value="/c1/1-5-a7"/>
</form>

<form action="/c1/1-5-a7" method="post" enctype="text/plain" target="_blank">
    <input type="hidden" name="text" value="www.moilioncircle.com" />
    <input type="submit" value="/c1/1-5-a7 over"/>
</form>