<h1>1.6.Actions composition</h1>

<form action="/c1/1-6-a1" method="get" enctype="text/plain" target="_blank">
    <input type="hidden" name="text" value="www.moilioncircle.com" />
    <input type="submit" value="/c1/1-6-a1"/>
</form>

<form action="/c1/1-6-a2" method="post" enctype="text/plain" target="_blank">
    <input type="hidden" name="text" value="www.moilioncircle.com" />
    <input type="submit" value="/c1/1-6-a2"/>
</form>

<form action="/c1/1-6-a3" method="post" enctype="text/plain" target="_blank">
    <input type="hidden" name="text" value="www.moilioncircle.com" />
    <input type="submit" value="/c1/1-6-a3"/>
</form>

<form action="/c1/1-6-a4" method="post" enctype="text/plain" target="_blank">
    <input type="hidden" name="text" value="www.moilioncircle.com" />
    <input type="submit" value="/c1/1-6-a4"/>
</form>

<form action="/c1/1-6-a5" method="post" enctype="text/plain" target="_blank">
    <input type="hidden" name="text" value="www.moilioncircle.com" />
    <input type="submit" value="/c1/1-6-a5"/>
</form>

<form action="/c1/1-6-a6" method="post" enctype="text/plain" target="_blank">
    <input type="hidden" name="text" value="www.moilioncircle.com" />
    <input type="submit" value="/c1/1-6-a6"/>
</form>

<form action="/c1/1-6-a7" method="post" enctype="text/plain" target="_blank">
    <input type="hidden" name="text" value="www.moilioncircle.com" />
    <input type="submit" value="/c1/1-6-a7"/>
</form>

<form action="/c1/1-6-a8" method="get" enctype="text/plain" target="_blank">
    <input type="hidden" name="id" value="www.moilioncircle.com" />
    <input type="hidden" name="tag" value="www.moilioncircle.com" />
    <input type="submit" value="/c1/1-6-a8"/>
</form>